#contact-container {
    height: 100vh;
    margin: 0em 2em 0 2em;
    display: flex;
    flex-direction: column;
}

.contact-blurb {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.contact-blurb > h1 {
    margin: 2rem 0 2rem 0;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, label, textarea {
    width: 100%;
    border: none;
    margin: .5em 0;
    font-size: 1rem;
}

input, textarea { 
    background: var(--text-color);
    padding: .5em;
    color: var(--bg-color);
}

form > button {
    background-color: var(--accent);
    border: none;
    border-radius: 1em;
    padding: 1em;
    width: 60%;
    margin-top: 1rem;
}

textarea {
    height: 10em;
}

@media ( min-width: 1024px ) {
    #contact-container {
        max-width: 1440px;
        width: 100%;
    }

    .contact-blurb > h1 {
        font-size: 4em;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input, textarea, label, p {
        font-size: 1.5rem;
        margin: .4em 0;
    }

    .inputs-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 2em;
        justify-content: flex-start;
    }

    .form-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 25em;
        justify-content: flex-start;
    }

    form > button {
        width: 20%;
        margin-top: 1em;
    }

}
