body {
    scroll-behavior: smooth;
}

#landing-container {
    height: 100vh;
    margin: 0em 2em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* position: relative; */
}

#landing-container > h1 {
    font-weight: 900;
}

.work-with-us-button {
    font-size: var(--caption-size-s);
    font-weight: 700;
    border-radius: 14px;
    border: none;
    background-color: #E5692B;
    padding: 14px 30px;
    align-self: flex-start;
    margin-top: 3em;
    text-decoration: none;
}

#landing-arrow {
    position: absolute;
    bottom: 3em;
    right: 50%;
}

@media ( min-width: 1024px ) {
    #landing-container {
        max-width: 1260px;
    }

    #landing-container > button {
        margin-top: 5em;
    }
}