body {
    scroll-behavior: smooth;
}

#landing-container {
    height: 100vh;
    margin: 0em 2em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* position: relative; */
}

#landing-container > h1 {
    font-weight: 900;
}

#landing-container > button {
    align-self: flex-start;
    margin-top: 3em;
}

#landing-arrow {
    position: absolute;
    bottom: 3em;
    right: 50%;
}

@media ( min-width: 1024px ) {
    #landing-container {
        max-width: 1260px;
        font-size: var(--head-size-l);
    }

    #landing-container > button {
        margin-top: 5em;
    }
}