#services-container {
    height: 100vh;
    margin: 0em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.services-blurb {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.services-blurb > h2 {
    margin: 1rem 0 2rem 0;
}

.services-list > h3 {
    margin: 2rem 0 0rem 0;
}

#service-shape {
    position: absolute;
    top: 25%;
    margin-left: -15em;
    z-index: 1
}

@media ( min-width: 1024px ) {
    #services-container {
        max-width: 1260px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .services-blurb {
        width: 50%;
        margin-right: 7em;
    }

    .services-blurb > h2 {
        margin-top: -.8em;
    }

    .services-list {
        width: 50%;
    }
}
