#team-container {
    height: 100vh;
    margin: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.team-blurb {
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 11em;
}

.team-blurb > h1 {
    margin-bottom: 1em;
}

.member-slides {
    margin-top: 3em;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-slides > * {
    align-self: center;
}

@media ( min-width: 1024px ) {
    #member-container {
        display: flex;
        flex-direction: row;
        max-width: 1260px;
        justify-content: center;
    }

    .member-tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
    }

    .member-tiles > * {
        align-self: center;
    }

    .team-blurb {
        margin-top: 2em;
    }

}