#values-container {
    height: 60vh;
    margin: 0 2em;
}

.values-blurb {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-bottom: 2rem;
}

.values-blurb > h1 {
    margin: 1rem 0 2rem 0;
}

.values-list > h3 {
    margin: 2rem 0 0.3rem 0;
}

@media ( min-width: 1024px ) {
    #values-container {
        max-width: 1260px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .values-blurb {
        width: 50%;
        margin: 0 3rem;
    }

    .values-blurb > h1 {
        margin-top: -2em;
        margin-left :-1.5em;
    }

    .values-list {
        width: 50%;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }
}
