footer {
    display: flex;
    margin: 2em 2em 2em 2em;
    flex-direction: column;
}

footer * {
    font-size: 14px;
}

div > h3 {
    font-weight: 700;
}

footer > div {
    margin: .5em 0;
}

footer > div > div:nth-child(4) > div {
    display: flex;
    justify-content: flex-start;
}

footer >div > div:nth-child(4) > div > a:last-of-type {
    margin-left: 1em;
}

@media ( min-width: 1024px ) {
    footer {
        max-width: 1260px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer > div:first-of-type {
        width: 30vw;
    }

    footer > div > div > h3 {
        margin-top: 1em;
    }

    footer > div:last-of-type {
        width: 70vw;
        align-self: center;
        margin-top: -5em;
    }
    
}