footer {
    display: flex;
    margin: 0em 2em 2em 2em;
    flex-direction: column;
}

footer > div {
    margin: .5em 0;
}

footer > div:nth-child(4) > div {
    display: flex;
    justify-content: flex-start;
}

footer > div:nth-child(4) > div > a:last-of-type {
    margin-left: 1em;
}