nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
nav .label-menu {
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.menu-list {
    display: block;
    direction: column;
    list-style: none;
    margin: 0;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #EAE4DA;
    padding: 3rem;
    transition: transform .2s ease, opacity .2s ease;
    transform: translateY(-3rem);
    opacity: 0;
}

.menu-list a {
    text-decoration: none;
    color: #E5692B;
    font-size: 45px;
    text-align: center;
    display: block;
    margin-bottom: 56px;
}

#checkbox-menu {
    display: none;
}

#checkbox-menu:checked ~ .menu-list {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

@media  (min-width: 544px) {
    nav .label-menu {
        display: none;
    }
    
    .menu-list {
        display: flex;
        direction: row;
        gap: 2em;
        opacity: 1;
    }

    .menu-list a {
        text-decoration: none;
        color: #000;
    }
}