nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
nav .label-menu {
    
}

.menu-list {
    display: flex;
    direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
}
#checkbox-menu {
    display: none;
}

#checkbox-menu:checked ~ .menu-list {
    opacity: 1;
    display: block;
}

@media  (min-width: 544px) {
    nav .label-menu {
        display: none;
    }
    
    .menu-list {
        display: flex;
        direction: row;
        gap: 2em;
        opacity: 1;
    }
}